<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCORE CARD</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg  bg-light fixed-top" id="navbar">
        <a class="navbar-brand" href="#">
            <img src="./images/logo.jpeg" width="50" height="50" alt="" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" id="toggler-icon"></span>
        </button>
        <div class="ml-md-4 collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <i class="d-md-block ml-2 fa fa-home"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./questions.html">My Quiz <i
                            class="d-md-block ml-2 fa fa-motorcycle"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">FAQ<i class="d-md-block ml-2 fa fa-sticky-note"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile <i class="d-md-block ml-2 fa fa-user"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">AboutUs <i class="d-md-block  ml-2 fa fa-user-secret"></i></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container" style="min-height: 500px;">
        <div class="row">
            <div class="d-none d-xl-flex col-xl-2">
                Adverstisement
            </div>
            <div class="col-xl-8">
                <div class="alert alert-success text-center">
                    <h2>Score Card <span class="ml-3 fa fa-id-card"></span></h2>
                </div>
                <div class="card">
                    
                    <% if(quiz.questions.length > 0) { %>
                        <% quiz.questions.forEach(function(question) { %>
                            <div class="card">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h3 name="render-question"><%= question.question %></h3>
                                    <p class="badge badge-pill badge-primary" name='render_points'><%= question.points %> pts</p>
                                </div>
                                <% if(question.image) { %>
                                    <img src="/images/<%= question.image %>" style="margin: 0 auto;" class='img' width="250px" height="200px">
                                <% } %>
                                <!--Note for this part use conditional rendering for the tick/cross icon to display whether choice is correct or not-->
                                <!--Only user response should change the background color to indicate his/her choice-->
                                <!--Also use conditional rendering to change the icon right/wrong according to the user choice-->
                                <div class="card-body">
                                    
                                    <% question.options.forEach(function(option) { %>
                                        <% if(option.isAnswer) { %>
                                            <div class="mb-2 card p-2 bg-secondary text-light">
                                        <% } else { %>
                                            <div class="mb-2 card p-2">
                                        <% } %>
                                            <p class="mt-1 ml-2 d-flex justify-content-between align-items-center">
                                                <span>
                                                <%= option.text %>
                                                <% if(option.image) { %>
                                                    <img src="/images/<%= option.image %>" class='img' width="70px" height="50px">
                                                <% } %>
                                                </span>
                                                <% if(option.isAnswer) { %>
                                                    <span class="ml-4 fa fa-2x fa-check-circle"></span>
                                                <% } %>
                                            </p>
                                            
                                            
                                        </div>
                                    <% }) %>
    
                                </div>
                            </div>
                        <!--NEW CHANGES-->
                        <!--Description(if there bcuz it's optional) + correct Answer Here(Mandatory All correct Answers).-->
                        <div class="card-footer">
                            <p class="mt-2 text-muted">Editorial - <span id="description"><%= question.editorial %></span></p>
                        </div>
                        <!---->
                        <% }) %>
                    <% } %>
                </div>
            </div>
            <div class="d-none d-xl-flex col-xl-2">
                Adverstisement
            </div>
        </div>
        <div class="mt-4 container p-3 card">
            <div class="col-12  d-flex flex-column justify-content-center align-items-center">
                <h2 class="border-bottom border-bottom-dark">CONGRATULATIONS</h2><br>
                <h4 class="border-bottom border-bottom-dark">
                    YOUR SCORE :
                    <span name="scores_marks">10</span>
                    /
                    <span name='total_marks'><%= quiz.totalPoints %></span>
                </h4>
            </div>
        </div>
    </div>
    <footer class='container-fluid col-12' id="footer">
        <ul id="footer-links">
            <li><a href='#'>About Us</a></li>
            <li><a href='#'>Privacy Policy</a></li>
            <li><a href='#'>Contact Us</a></li>
            <li><a href='#'>FAQ</a></li>
            <li><a href='#'>WeCBR Toolkit</a></li>
        </ul>
        <ul class="mr-3 mt-4">
            <li><a href="#"><i class="fa fa-2x fa-facebook-square "></i></a></li>
            <li><a href="#"><i class="fa fa-2x  fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-2x  fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-2x  fa-envelope"></i></a></li>
        </ul>
    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

</html>